<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="UpdateUrl" value="https://www.googledrive.com/host/0BzCV5A4NusB1WmQ4ZE9KbEwxdFk/setup.exe" />
    <add key="GetVersionUrl" value="https://www.googledrive.com/host/0BzCV5A4NusB1WmQ4ZE9KbEwxdFk/currentVersion" />
  </appSettings>
</configuration>
